@font-face {
   font-family: 'AnyConv.com__Gilroy-ExtraBold';
   font-display: swap;
   src: url('file:///C:/Users/kapil/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-06-29_225434/fonts/AnyConv.com__Gilroy-ExtraBold/font.ttf');
}
